@font-face {
  font-family: 'Dancing Script', cursive;
}
body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}
header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px #02010a;
  height: 75px;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px 10px;
}
nav{
  float: right;
}
a{
  color: white;
}
img{
  width: 50%;
  height: 50%;
}

#imagencentral{
  height: 33%;
  width: 90%;
  padding: 4px;
  margin: 5%;
  background-color: #82c3a6;
}
.contenido{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #d5c75f;
  border: solid 1px;
  padding: 5px;
  text-align: center;
}
.contenido>div{
  column-count: 2;
  column-width: 50%;
}
#imagen1:hover{
  transform: rotate(10deg);
}
#imagen2:hover{
  transform: translateX(20px) translateY(2px);
}
.paisajes{
  display:flex;
  flex-direction: column;

  background-color: #d5c75f;
  margin: 5%;
  padding: 5px;
}
.paisajes>div{
  column-count: 3;

  height: 100%;
  padding: 5px;
}
#paisaje1{
  filter: blur(10px);
}
#paisaje3{
  filter: sepia(90%);
}
#paisaje2{
  filter: grayscale(100%);
}
#paisaje4{
  filter: grayscale(100%);
}
#paisaje6{
  filter: grayscale(100%);
}
.retratos{
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 5px;
  background-color: #d5c75f;
}
.retratos>div{
  column-count: 3;
  height: 100%;
  padding: 5px;
}
#retrato1{
  filter: blur(10px);
}
#retrato3{
  filter: sepia(90%);
}
#retrato2{
  filter: grayscale(100%);
}
#retrato4{
  filter: grayscale(100%);
}
#retrato6{
  filter: grayscale(100%);
}
footer{
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #C6d5c5;
}
footer>div{
  column-count: 4;
  column-width: 25%;
}
@media only screen (min-widht:900px) {
  /* For desktop */
  html{
    width: 900px;
  }
}
@media only screen (max-widht:900px) {
  /*For mobile phones*/
  html{
    width: 100%;
  }
}
