@font-face {
  font-family: 'Dancing Script', cursive;
}

body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}
header{
  background-color: #5b7989;
  color: white;
  text-shadow: 2px #02010a;
  height: 75px;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px 10px;
}
nav{
  float: right;
}
a{
  color: white;
}


#imagencentral{
  height: 33%;
  width: 90%;
  padding: 4px;
  margin: 5%;
  background-color: #82c3a6;
}
#imagen1{
  height: 100%;
  width: 100%;
}
#imagen2{
  height: 100%;
  width: 100%;
}
.contenido{
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: solid 1px;
  padding: 5px;
}
.contenido>div{
  width: 100%;
}
.contenido>div #contenido1{
  width: 50%;
  height: 500px;
}
.contenido>div #contenido2{
  width: 50%;
  height: 500px;
}
#imagen1:hover{
  transform: rotate(10deg);
}
#imagen2:hover{
  transform: translateX(20px) translateY(2px);
}
.paisajes{
  display:flex;
  flex-direction: row;
  background-color: #d5c75f;
  margin: 5%;
  padding: 5px;
}
.paisajes>div{
  width: 100%;
  height: 100%;
  padding: 5px;
}
#paisaje1{
  width: 100%;
  filter: blur(10px);
}
#paisaje3{
  width: 100%;
  filter: sepia(90%);
}
#paisaje2{
  width: 100%;
  filter: grayscale(100%);
}
#paisaje4{
  width: 100%;
  filter: grayscale(100%);
}
#paisaje5{
  width: 100%;
}
#paisaje6{
  width: 100%;
  filter: grayscale(100%);
}
.retratos{
  display: flex;
  flex-direction: row;
  margin: 5%;
  padding: 5px;
  background-color: #d5c75f;
}
.retratos>div{
  width: 100%;
  height: 100%;
  padding: 5px;
}
#retrato1{
  width: 100%;
  filter: blur(10px);
}
#retrato3{
  width: 100%;
  filter: sepia(90%);
}
#retrato2{
  width: 100%;
  filter: grayscale(100%);
}
#retrato4{
  width: 100%;
  filter: grayscale(100%);
}
#retrato5{
  width: 100%;
}
#retrato6{
  width: 100%;
  filter: grayscale(100%);
}
footer{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #C6d5c5;
}

footer>div{
  width: 25%;
}

/*MOBILE PHONES*/
@media only screen and (max-width:900px) {

.contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #d5c75f;
    border: solid 1px;
    padding: 20px;
}

.paisajes{
  display:flex;
  flex-direction: column;
  background-color: #d5c75f;
  margin: 5%;
  padding: 20px;
}
.retratos{
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 20px;
  background-color: #d5c75f;
}
footer{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #C6d5c5;
}
